<%= render CardComponent.new(card.title, id: dom_id(card)) do %>

  <div class="flex items-center ">
    <div class="font-mono text-rose-600 py-2 mr-5">
      <% if card.todos.size > 0 %>
        <%= "#{card.todos.size} todos" %>
      <% end %>
    </div>
    <div class="font-mono text-blue-600 py-2">
      <% if card.quotes.size > 0 %>
        <%= "#{card.quotes.size} comments" %>
      <% end %>
    </div>

  </div>
  <div class="font-mono">
    <%= card.project.name %>
  </div>
  <div class="flex gap-3">
    <%= link_to "Edit", edit_card_path(card), class: "text-blue-600", data: { turbo_frame: "modal" } %>
    <%= link_to "Show", card, class: "text-blue-600" %>
  </div>
<% end %>
